@{
    ViewBag.Title = "Home Page";
}
<hr class="featurette-divider">

<!-- First Featurette -->
<div class="featurette" id="about">
    <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
    <h2 class="featurette-heading">
        Visual Studio 2015 - ASP.NET 5
        <span class="text-muted">29-07-2015</span>
    </h2>
    <p class="lead">
        A one day introduction to ASP.NET 5 covering the new .NET execution environment (DNX) as well as builing a new ASP.NET 5 application using HTML5, CSS3, LESS, npm, Bower and Grunt.
    </p>
</div>

<hr class="featurette-divider">

<!-- Second Featurette -->
<div class="featurette" id="services">
    <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
    <h2 class="featurette-heading">
        DevOps: Creating a deployment pipeline using Visual Studio 2015, TFS 2015 & Azure
        <span class="text-muted">26-8-2015</span>
    </h2>
    <p class="lead">
        A one day workshop where we will be learning how to create a well structured deployment pipeline. First off we will see some basic Devops and branching principles, and then we will take this to the field using Visual Studio 2015, TFS 2015, Release Management 2015 and Azure &amp; Application Insights.
    </p>
</div>

<hr class="featurette-divider">

<!-- Third Featurette -->
@*<div class="featurette" id="contact">
    <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
    <h2 class="featurette-heading">
        The Third Heading
        <span class="text-muted">Will Seal the Deal.</span>
    </h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>

<hr class="featurette-divider">*@
<!-- convince your boss? -->
@Html.BeginForm()

