@model Registration
@{
    ViewBag.Title = "Home Page";
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" role="alert" id="success-message">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@ViewBag.Message</strong>
    </div>
}
<div class="container">
    <h2>Be the first to know all about Visual Studio 2015</h2>
    <p class="lead">
        Microsoft announced the public availability of Visual Studio 2015, Team Foundation Server 2015 and .NET 4.6 starting July 20th.
        Follow one of our workshops and be the first one to gain hands-on experience.
    </p>
     <p>
        Visual Studio 2015 is an impressive release. There is a great leap forward to improve cross-platform development.
        ASP.NET 5 will make it possible to develop applications for Windows, Mac and Linux. With Apache Cordova you can create mobile apps for iOS, Android and Windows Phone by using HTML, CSS and JavaScript.
        And we can not forget the Xamarin Apps that let you use C# to create native apps for iOS, Android and Windows Phone.
         </p>
    <p>
        Info Support has been following these developments closely and has in recent months been able to gain hands-on experience with these new technologies.
        With some pride we announce that we can offer two workshops related to the release of Visual Studio 2015 .
    </p>
    <p>All workshops take place at the <strong>Info Support Education Center</strong>. Generaal De Wittelaan 17, 2800 Mechelen (BE).</p>
</div>

@Html.Partial("_Sessions")
@Html.Partial("_Registration")
