@model Registration

<hr class="featurette-divider">
<a id="register-now" class="anchor"></a>
<div class="highlight-background register-now">
    <div class="container">
        <h2>Register now!</h2>
        <span class="help-block">Sign up with three people and pay for only two!<br />You can also <a href="mailto:info.be@infosupport.com" class="darker">contact us</a> for a tailor-made workshop!</span>
        <!-- convince your boss? -->
        <form asp-controller="Home" asp-action="Register" asp-anti-forgery>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert" asp-validation-summary="ValidationSummary.All">
                </div>
            }
            <div class="form-group">
                <label asp-for="Email">Email address</label>
                <input class="form-control" asp-for="Email" placeholder="Email" required="required" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input class="form-control" asp-for="FirstName" placeholder="First Name" required="required" />
            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input class="form-control" asp-for="LastName" placeholder="Last Name" required="required" />
            </div>
            <div class="form-group">
                <label>Sessions</label>
                <div class="checkbox">
                    <input asp-for="Session1" />
                    <label asp-for="Session1">Visual Studio 2015 - ASP.NET 5</label>
                </div>
                <div class="checkbox">
                    <input asp-for="Session2" />
                    <label asp-for="Session2">DevOps: Creating a deployment pipeline using Visual Studio, TFS & Azure</label>
                </div>
            </div>
            <div>
                <input type="submit" value="Register!" class="btn btn-lg btn-default" />
            </div>
        </form>
    </div>
</div>
@if (!ViewData.ModelState.IsValid)
{
<script>
    location.hash = "#register-now";
</script>
}