<div class="container">

    <hr class="featurette-divider">

    <div class="featurette" id="sessions">
        <img class="featurette-image img-circle img-responsive pull-right" src="~/images/session1v2.png">
        <h2 class="featurette-heading">
            Visual Studio 2015 - ASP.NET 5
        </h2>
        <p class="lead">
            A one day introduction to ASP.NET 5 covering the new .NET execution environment (DNX) as well as builing a new ASP.NET 5 application using HTML5, CSS3, LESS, npm, Bower and Grunt.
        </p>
        <div class="alert pricing"><a href="#register-now">&euro; 450</a></div>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image img-circle img-responsive pull-left" src="~/images/session2v2.png">
        <h2 class="featurette-heading">
            DevOps: Creating a deployment pipeline using Visual Studio, TFS & Azure
        </h2>
        <p class="lead">
            A one day workshop where we will be learning how to create a well structured deployment pipeline. First off we will see some basic DevOps and branching principles, and then we will take this to the field using Visual Studio 2015, TFS 2015, Release Management 2015, Azure &amp; Application Insights.
            <div class="alert pricing"><a href="#register-now">&euro; 450</a></div>
        </p>        
    </div>
</div>